[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
