/* Empty css file that users can override in their own /static/css/custom.css file */

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 1.10rem;
}

h4 {
    font-weight:bold;
}